<div class="main-header">
  <!-- Logo Goes Here -->
  <div class="nav-logo">
    <!-- Home -> white logo no scroll -->
    <a href="/" class="logo-homepage">
      <%= image_tag "logo-homepage.png", id:"logo-homepage" %>
    </a>
        <!-- Page -> black logo Scroll -->
    <a href="/" class="logo-subpage">
      <%= image_tag "logo-subpage.png", id:"logo-subpage" %>
    </a>
  </div>

<div class="dropdown hidden-xs hidden-sm">
  <%= image_tag 'portugal.png', class:'dropdown-toggle flag', data: { toggle: 'dropdown'} %>
  <ul class="dropdown-menu" id="navbar-dropdown">
    <li class="text-center"><a href="/"><%= image_tag 'france.png', class:"flag" %></a></li>
    <li class="text-center"><a href="ve"><%= image_tag 'venezuela.png', class:"flag" %></a></li>
  </ul>
</div>

  <!-- UL navigation -->
  <div class="navigation-menu">
    <ul class="navigation_links list-inline hidden-xs hidden-sm">
      <li class="nav-item list-inline-item">
        <a class='nav-link' href="#save_the_date"><span>As sardinhas</span></a>
      </li>
      <li class="nav-item list-inline-item">
        <a class='nav-link' href="#rsvp"><span>RSVP</span></a>
      </li>
      <li class="nav-item list-inline-item">
        <a class='nav-link' href="#events"><span>Os eventos</span></a>
      </li>
      <li class="nav-item list-inline-item">
        <a class='nav-link' href="#agostos"><span>Copo d'água</span></a>
      </li>
      <li class="nav-item list-inline-item">
        <a class='nav-link' href="#" data-toggle="modal" data-target="#housing"><span>Alojamento na região</span></a>
       </li>
      </ul>
    </div>

  <div class="nav-item hidden-md hidden-lg">
    <div class="dropdown">
      <div class="nav-mobile dropdown-toggle" data-toggle="dropdown">
        <a id="nav-toggle" href=""><span></span></a>
      </div>
      <ul class="dropdown-menu dropdown-menu-right responsive-dropdown-right">
        <ul class="list-inline text-center responsive-language">
          <li><a href="/"><%= image_tag 'france.png', class:"flag" %></a></li>
          <li><a href="ve"><%= image_tag 'venezuela.png', class:"flag" %></a></li>
          <li><a href="pt"><%= image_tag 'portugal.png', class:"flag" %></a></li>
        </ul>

        <li><a class='nav-link' href="#save_the_date"><span>As sardinhas</span></a></li>
        <li><a class='nav-link' href="#rsvp"><span>RSVP</span></a></li>
        <li><a class='nav-link' href="#save_the_date"><span>Os eventos</span></a></li>
        <li><a class='nav-link' href="#save_the_date"><span>Copo d'água</span></a></li>
        <li><a class='nav-link' href="#save_the_date"><span>Alojamento na região</span></a> </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <%= image_tag 'logobanner.png', id:"main-logo" %>
</div>
