<!-- Save The Date! => The Sardines & Video -->

<!-- The Sardines -->
<div class="container mast" id="save_the_date">
  <div class="the-sardines">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>The Sardines</h1>
      </div>
    </div>

    <div class="row">
      <div class="the-sardines-all">
        <div class="col-sm-12 col-md-8 text-center">

          <div class="the-sardines-photos">
            <div class="sardine-photo" id="valeria">
              <%= image_tag "valeria.png", class:"sardine-photos", id:"valeria-hover"%>
            </div>

            <div class="sardine-photo" id="valeria">
              <%= image_tag "valeria.png", class:"sardine-photos", id:"valeria-hover"%>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <div class="the-sardines-text">
            <h4>We're getting married!</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maxime, voluptatem sed fugiat laboriosam! Accusantium ipsum quidem, cum mollitia, esse velit necessitatibus ex est error aspernatur ab odio asperiores, rem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi recusandae earum eum ipsam, excepturi et perspiciatis? Error officiis sunt commodi explicabo dolores, rerum est, ad, consequatur voluptas reiciendis dolorum ab.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi eum enim laboriosam odit harum quibusdam rem cumque voluptatum voluptate, sapiente facilis, itaque modi praesentium. Rem, ex. Modi tempore, sit ab!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<br>
<br>

  <div class="row video-holder">
    <div class="col-sm-12 col-md-5 text-center">
      <%= image_tag "savethedatetitre.png", class:"save-the-date-titre" %>
    </div>
    <div class="col-sm-12 col-md-7 text-center">
      <iframe src="https://player.vimeo.com/video/225665857"
        frameborder="0"
        allowFullScreen></iframe>
    </div>
  </div>
</div>

<div class="wrapper-green">
  <div class="container">
    <div class="row">
      <!-- <h2 class="col-xs-12 text-center">We'll be married in:</h2> -->
      <div id="countdown" class="list-inline col-xs-10 col-xs-offset-1">
        <li>
          <div class="cd-box">
            <h4 class="numbers days">00</h4>
            <h4 class="strings timeRefDays">Days</h4>
          </div>
        </li>
        <li>
          <div class="cd-box">
            <h4 class="numbers hours">00</h4>
            <h4 class="strings timeRefHours">Hours</h4>
          </div>
        </li>
        <li>
          <div class="cd-box">
            <h4 class="numbers minutes">00</h4>
            <h4 class="strings timeRefMinutes">Minutes</h4>
          </div>
        </li>
        <li>
          <div class="cd-box">
            <h4 class="numbers seconds">00</h4>
            <h4 class="strings timeRefSeconds">Seconds</h4>
          </div>
        </li>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>

<!-- RSVP => Contact Form & Countdown -->
<!-- <div class="wrapper"> -->
<!-- Contact Form -->
<div class="container">
  <div class="row">
    <div class="division-rsvp">
      <%= image_tag 'rsvp.png', class:"rsvp-image text-center" %>
    </div>
    <div id="rsvp">
      <div class="rsvp-full">
        <div class="rsvp-check-container">
          <div class="rsvp-check" id="yes">
            <h3>I'll be there!</h3>
            <input type="checkbox" id="yes-check">
          </div>
          <div class="rsvp-check" id="no">
            <h3>Sorry I can't...</h3>
            <input type="checkbox" id="no-check">
          </div>
        </div>

        <div class="rsvp-details">
          <div class="rsvp-inputs">
            <div class="group" id="gp-one">
              <input id="name" type="text" placeholder="Your name">
              <input id="email" type="text" placeholder="Your email">
            </div>
            <div class="group">
              <input id="song" type="text" placeholder="Your favorite song">
            </div>
            <div class="group" id="gp-two">
              <input id="plusone" type="text" placeholder="Your lucky one">
              <div class="group" id="sub">
                <input id="children" type="number" placeholder="Children?">
                <input id="code" type="text" placeholder="Super Secret Code">
              </div>
            </div>
          </div>
          <div class="button-holder text-center">
            <button id="submit-rsvp" data-toggle="modal" data-target="#myModal">send</button>
          </div>
        </div>
      </div>
    </div>

    <%= image_tag 'division.png', class:"flower-division" %>
  </div>
</div>

<div class="wrapper-green">
</div>

<%= partial 'modal' %>



<!-- Countdown -->
