<%= partial "navbar" %>

<!-- I/ Save The Date! => The Sardines & Video -->

<!-- The Sardines -->
<div class="container mast" id="save_the_date">
  <div class="the-sardines">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Les Sardines</h1>
      </div>
    </div>

    <div class="row">
      <div class="the-sardines-all">
        <div class="col-sm-12 col-md-8 text-center">

          <div class="the-sardines-photos">
            <div class="sardine-photo" id="romain">
              <%= image_tag "romain1.png", class:"sardine-photos"%>
            </div>

            <div class="sardine-photo" id="valeria">
              <%= image_tag "valeria.png", class:"sardine-photos"%>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <div class="the-sardines-text">
            <h4>Après 7 ans ensemble, on se marie...</h4>
            <p>... et nous voulons fêter ça avec vous, en Algarve, un lieu qui nous est cher à tous les deux. Nous sommes tombés amoureux de la façon dont le temps y passe, de ses plages et de ses saveurs, à tel point que, dès notre premier voyage dans la région, nous étions repartis en nous promettant de nous y marier un jour.</p>
            <p>A l'image d'une boite de sardine, nous voulons ce mariage plein d'authenticité, de proximité (allez, on se serre!), de partage et bien sûr d'huile d'olive. Sans oublier tous ces clins d'oeils qui nous rendent heureux: les lumières des <em>arraiais</em>, les nappes en lin, les repas animés et les danseurs déchainés!</p>
            <p>Aujourd'hui, nous tenons la promesse que nous nous sommes faite... On a hâte de fêter ça avec vous!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<br>

<!-- Video -->
  <div class="row video-holder">
    <div class="col-sm-12 col-md-5 text-center">
      <%= image_tag "savethedatetitre.png", class:"save-the-date-titre" %>
    </div>
    <div class="col-sm-12 col-md-7 text-center">
      <iframe src="https://player.vimeo.com/video/225665857"
        frameborder="0"
        allowFullScreen></iframe>
    </div>
  </div>
</div>

<!-- II/ RSVP => Countdown & Form-->
<!-- Countdown -->
<div class="wrapper-green">
  <div class="container">
    <div class="row">
      <div id="countdown" class="list-inline col-xs-10 col-xs-offset-1">
        <li>
          <div class="cd-box">
            <h4 class="numbers days">00</h4>
            <h4 class="strings timeRefDays">Jours</h4>
          </div>
        </li>
        <li>
          <div class="cd-box">
            <h4 class="numbers hours">00</h4>
            <h4 class="strings timeRefHours">Heures</h4>
          </div>
        </li>
        <li>
          <div class="cd-box">
            <h4 class="numbers minutes">00</h4>
            <h4 class="strings timeRefMinutes">Minutes</h4>
          </div>
        </li>
        <li>
          <div class="cd-box">
            <h4 class="numbers seconds">00</h4>
            <h4 class="strings timeRefSeconds">Secondes</h4>
          </div>
        </li>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>

<!-- Form -->
<div class="container">
  <div class="row">
    <div class="division-rsvp">
      <%= image_tag 'rsvp.png', class:"rsvp-image text-center" %>
    </div>
    <div id="rsvp">
      <div class="rsvp-full">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-2">
              <div class="rsvp-check-container">
                <div class="rsvp-check" id="yes">
                  <h3>Comptez sur moi!</h3>
                  <label class="label check-containter">
                    <input  class="label__checkbox" type="checkbox" id="yes-check"/>
                    <span class="label__text">
                      <span class="label__check">
                        <i class="fa fa-check icon"></i>
                      </span>
                    </span>
                  </label>
                </div>
                <div class="rsvp-check" id="no">
                  <h3>Je penserai à vous de loin...</h3>
                  <label class="label check-containter">
                    <input  class="label__checkbox" type="checkbox" id="no-check"/>
                    <span class="label__text">
                      <span class="label__check">
                        <i class="fa fa-times icon"></i>
                      </span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="rsvp-details">
          <div class="rsvp-inputs">
            <div class="group" id="gp-one">
              <input id="name" type="text" placeholder="Ton nom">
              <input id="email" type="text" placeholder="Ton email">
            </div>
            <div class="group">
              <input id="song" type="text" placeholder="Ta musique">
            </div>
            <div class="group" id="gp-two">
              <input id="plusone" type="text" placeholder="Ton +1">
              <div class="group" id="sub">
                <input id="children" type="number" placeholder="N° d'enfants?">
                <input id="code" type="text" placeholder="SecretCode">
              </div>
            </div>
          </div>
          <div class="button-holder text-center">
            <button id="submit-rsvp" data-toggle="modal" data-target="#modal-not-yet">envoyer</button>
          </div>
        </div>
      </div>
    </div>

    <%= image_tag 'division.png', class:"flower-division" %>
  </div>
</div>

<%= partial 'modal' %>

<!-- III/ The Events -->
<div class="container" id="events">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Les événements</h1>
      <br>
    </div>
  </div>

  <<% data.events.each_with_index do |e, i| %>
    <% if i.odd? %>
      <div class="row">
        <div class="col-xs-12 col-md-7 col-md-offset-5 event-card">
          <%= image_tag e.image, class:'event-image' %>
          <div class="event-text">
            <h3><%= e.title %></h3>
            <h4><%= e.date %></h4>
            <p class="text-justify"><%= e.description %></p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-xs-12 col-md-7 event-card">
          <div class="event-text justify-right">
            <h3><%= e.title %></h3>
            <h4><%= e.date %></h4>
            <p class="text-justify"><%= e.description %></p>
          </div>
          <%= image_tag e.image, class:'event-image' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<!-- IV/ Os Agostos -->
<div class="agostos-infos" id="agostos">
  <div class="agostos-left-pannel">
    <div class="agostos-icon text-center">
      <%= image_tag "home4_even_1.png", class:"ring text-center" %>
    </div>
    <div class="agostos-title text-center">
      <h3>Os Agostos</h3>
    </div>
    <div class="agostos-text">
      <p><strong>Adresse:</strong> Largo do Batalhão Sapadores Caminho de Ferro 20, 8100 Loulé, Portugal</p>
      <p><strong>Depuis Faro:</strong> 18min en voiture</p>
      <p><strong>Depuis Tavira:</strong> 25min en voiture</p>
    </div>
  </div>

  <!-- The map will be drawn in this div -->
  <div id="map"></div>
</div>


<div class="wrapper-green footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>Designed and developped with <i class="fa fa-heart heart"></i> by the bride and groom!</p>
      </div>
