<%= partial "navbar_pt" %>


<!-- I/ Save The Date! => The Sardines & Video -->

<!-- The Sardines -->
<div class="container mast" id="save_the_date">
  <div class="the-sardines">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>As Sardinhas</h1>
      </div>
    </div>

    <div class="row">
      <div class="the-sardines-all">
        <div class="col-sm-12 col-md-8 text-center">

          <div class="the-sardines-photos">
            <div class="sardine-photo" id="romain">
              <%= image_tag "romain1.png", class:"sardine-photos"%>
            </div>

            <div class="sardine-photo" id="valeria">
              <%= image_tag "valeria.png", class:"sardine-photos"%>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <div class="the-sardines-text">
            <h4>Depois de 6 anos, nos vamos casar!</h4>
            <p>... e queremos festejar com todos vocês, no Algarve, um lugar que nos é muito caro aos dois. Ficamos a tal apaixonados pela maneira que o temps ali passa, pelas praias e os sabores que desde a nossa primeira visita juntos, cada um de nós fez a promessa solitaria que, um dia, casariamos aí.</p>
            <p>Como numa lata de sardinhas, queremos que este casamento seja cheio de autenticidade, de proximadade (apertadinhos!), de partilha e claro, de azeite! Sem esquecer todos esse detalhes que nos fazem felizes: as luzes de arraiais, as toalhas de lino, as refeições animadas e o fervor da dança!</p>
            <p>Hoje estamos a cumprir esta promessa feita anos atrás... e mal podemos esperar!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<br>
<!-- Video -->
  <div class="row video-holder">
    <div class="col-sm-12 col-md-5 text-center">
      <%= image_tag "savethedatetitre.png", class:"save-the-date-titre" %>
    </div>
    <div class="col-sm-12 col-md-7 text-center">
      <iframe src="https://player.vimeo.com/video/225665857"
        frameborder="0"
        allowFullScreen></iframe>
    </div>
  </div>
</div>

<!-- II/ RSVP => Countdown & Form-->
<!-- Countdown -->
<div class="wrapper-green">
  <div class="container">
    <div class="row">
      <div id="countdown" class="list-inline col-xs-10 col-xs-offset-1">
        <li>
          <div class="cd-box">
            <h4 class="numbers days">00</h4>
            <h4 class="strings timeRefDays">Dias</h4>
          </div>
        </li>
        <li>
          <div class="cd-box">
            <h4 class="numbers hours">00</h4>
            <h4 class="strings timeRefHours">Horas</h4>
          </div>
        </li>
        <li>
          <div class="cd-box">
            <h4 class="numbers minutes">00</h4>
            <h4 class="strings timeRefMinutes">Minutos</h4>
          </div>
        </li>
        <li>
          <div class="cd-box">
            <h4 class="numbers seconds">00</h4>
            <h4 class="strings timeRefSeconds">Segundos</h4>
          </div>
        </li>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>

<!-- Form -->
<div class="container">
  <div class="row">
    <div class="division-rsvp">
      <%= image_tag 'rsvp.png', class:"rsvp-image text-center" %>
    </div>
    <div id="rsvp">
      <div class="rsvp-full">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-2">
              <div class="rsvp-check-container text-center">
                <div class="rsvp-check" id="yes">
                  <h3>Estarei, com certeza !</h3>
                  <label class="label check-containter">
                    <input  class="label__checkbox" type="checkbox" id="yes-check"/>
                    <span class="label__text">
                      <span class="label__check">
                        <i class="fa fa-check icon"></i>
                      </span>
                    </span>
                  </label>
                </div>

                <div class="rsvp-check" id="no">
                  <h3>Pensarei em vocês de longe</h3>
                  <label class="label check-containter">
                    <input  class="label__checkbox" type="checkbox" id="no-check"/>
                    <span class="label__text">
                      <span class="label__check">
                        <i class="fa fa-times icon"></i>
                      </span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="rsvp-details">
          <div class="rsvp-inputs">
            <div class="group" id="gp-one">
              <input id="name" type="text" placeholder="Teu nome">
              <input id="email" type="text" placeholder="Teu email">
            </div>
            <div class="group">
              <input id="song" type="text" placeholder="Tua musica">
            </div>
            <div class="group" id="gp-two">
              <input id="plusone" type="text" placeholder="Teu +1">
              <div class="group" id="sub">
                <input id="children" type="number" placeholder="N° crianças">
                <input id="code" type="text" placeholder="SecretCode">
              </div>
            </div>
          </div>
          <div class="button-holder text-center">
            <button id="submit-rsvp" data-toggle="modal" data-target="#modal-not-yet">enviar</button>
          </div>
        </div>
      </div>
    </div>

    <%= image_tag 'division.png', class:"flower-division" %>
  </div>
</div>

<%= partial 'modal_pt' %>

<!-- III/ The Events -->
<div class="container" id="events">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Os eventos</h1>
      <br>
    </div>
  </div>

  <% data.events_pt.each_with_index do |e, i| %>
    <% if i.odd? %>
      <div class="row">
        <div class="col-xs-12 col-md-7 col-md-offset-5 event-card">
          <%= image_tag e.image, class:'event-image' %>
          <div class="event-text">
            <h3><%= e.title %></h3>
            <h4><%= e.date %></h4>
            <p class="text-justify"><%= e.description %></p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-xs-12 col-md-7 event-card">
          <div class="event-text justify-right">
            <h3><%= e.title %></h3>
            <h4><%= e.date %></h4>
            <p class="text-justify"><%= e.description %></p>
          </div>
          <%= image_tag e.image, class:'event-image' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<!-- IV/ Os Agostos -->
<div class="agostos-infos" id="agostos">
  <div class="agostos-left-pannel">
    <div class="agostos-icon text-center">
      <%= image_tag "home4_even_1.png", class:"ring text-center" %>
    </div>
    <div class="agostos-title text-center">
      <h3>Os Agostos</h3>
    </div>
    <div class="agostos-text">
      <p>Endereço: Largo do Batalhão Sapadores Caminho de Ferro 20, 8100 Loulé, Portugal</p>
      <p>Desde Faro: 18min em carro</p>
      <p>Desde Tavira: 25min em carro</p>
    </div>
  </div>

  <!-- The map will be drawn in this div -->
  <div id="map"></div>
</div>


<div class="wrapper-green footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>Designed and developped with <i class="fa fa-heart heart"></i> by the bride and groom!</p>
      </div>
